# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8u171-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      # run integration tests
      #- run: mvn clean package -DargLine="-Dspring.profiles.active=integration-test"
      - run: mvn clean package

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/ \;
            cp -r target/site/jacoco ~/test-results/
          when: always

      - store_test_results:
          path: ~/test-results

      - store_artifacts:
          path: ~/test-results

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          command: |
            DOCKER_REPO=callalyf/restemployees
            TAG=0.0.$CIRCLE_BUILD_NUM
            echo "BUILDING $TAG"
            docker build -t $DOCKER_REPO:$TAG --build-arg JAR_FILE=target/rest-employee-0.0.1-SNAPSHOT.jar .
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push $DOCKER_REPO:$TAG
            docker tag $DOCKER_REPO:$TAG $DOCKER_REPO:latest
            docker push $DOCKER_REPO:latest
